*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
  
input, button, textarea, select {
    font: inherit;
}
  
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
  
p {
    text-wrap: pretty;
}
  
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
  
#root, #__next {
    isolation: isolate;
}

dialog {
    width: 400px;
    padding: 20px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    background: whitesmoke;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

dialog::backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0.75;
}

body {
    background-color: #1e1e2e;
    color: antiquewhite;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px;
}

#bookShelf {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    margin: 10px;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(33.33% - 40px);
    width: 350px;
    max-width: 350px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 20px;
    gap: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

.card:hover {
	top: -2px;
	box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid grey;
}

button {
    border-radius: 15px;
    margin: 10x;
    padding: 5px;
    background-color: #007bff;
}

button:hover {
    background-color: #0056b3;
}