*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
  
input, button, textarea, select {
    font: inherit;
}
  
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
  
p {
    text-wrap: pretty;
}
  
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
  
#root, #__next {
    isolation: isolate;
}

.card:hover {
	top: -2px;
	box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

dialog {
    width: 400px;
    padding: 20px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

dialog::backdrop {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(
        45deg,
        magenta,
        rebeccapurple,
        dodgerblue,
        green
    );
    opacity: 0.75;
}